[submodule "models/pathways"]
	path = models/pathways
	url = https://github.com/Power-Lab/AdvAppliedEnergy_Pathways_2025.git
[submodule "models/garuda"]
	path = models/garuda
	url = https://github.com/kaarthi19/garuda.git
	branch = server-results
